body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.navbar {
    margin-bottom: 20px;
}
.navbar-nav .nav-link {
    font-size: 18px;
    padding: 10px 15px;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    background-color: #444;
}
.container {
    margin-top: 50px;
}
img {
    width: 50%;
    max-width: 600px;
    height: auto;
}
h1 {
    font-size: 36px;
    margin-top: 20px;
}
